/**Seletor mais genérico.**/
* {  /**Reset do CSS**/
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /**Objeto delimitado pelo tamanho puro.**/
}

/**Usa a tag inteira.**/
body {  /**Seletor + chaves**/
    background-image: url('../img/fundo.jpg');/**Propriedade.**/
    background-size: auto 100vh;  /**100vh - viewport high, 100% da altura da tela.**/
    height: 100vh;  /**Altura do 'body' sempre a mesma.**/
    font-size: 12px;
    font-family: 'Source Code Pro', monospace;  /**Todo seletor que não for definido será com essa fonte.**/
}

/**"If" para telas com pelo menos 400px.**/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        background-attachment: fixed;
        background-size: cover;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 100vh;
    display: flex;  /**Reconhece elementos imediatamente para baixo da tag 'header', mãe e filho.**/
    justify-content: center;
    align-items: center;
}

/**@Id - seletor específico de uma tag específica, causa problemas de preferência.**/
/**Usar atributo da classe para referenciar todos os elementos da classe no CSS.**/
.menu {
    background-color: white;
    position: fixed;  /**Elemento fixo, por cima de todos os elementos. '.menu' não mais flex pela propriedade display do 'header', necessário novas propriedades no 'header', justify-content, align-items. E declarar a propriedade top no '.menu'.**/
    width: 100vw;
    top: 0;
    z-index: 1;  /**Menu fica mais alto que qualquer animação. no meio da página, animação das fotos não irá tampar o menu.**/
}

.menu ul {
    display: flex;  /**'ul' na mesma linha.**/
    justify-content: space-around;  /**coloca espaços iguais entre as 'li' dentro do 'ul'.**/
}

/**Todas as 'li' dentro da tag 'menu'.**/
.menu li {
    list-style: none;
}

.menu a {  /**Aumentar área do menu para usabilidade de click.**/
    /**padding: 10px; <a> é uma tag inline, não afetada pelo padding**/
    display: block;  /**Retira a propriedade inline de <a>.**/
    padding: 10px 20px;
    transition: background-color 1s, color 1s;  /**Transição declarada antes do 'hover'.**/
}

.menu a:active,
.menu a:hover {
    background-color: teal;
    color: white;
}

a {
    color: teal;
    text-decoration: none;
}

/**Peseudo classe do CSS.**/
a:hover {
    text-decoration: underline;
}

.titulo::after {
    content: '|';
    color: whitesmoke;
    font-size: 2em;
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;  /****/
}

@keyframes pisca {  /**Criação da Animação.**/
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

/**Propriedade para mais de um atributo.**/
.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;  /**Unidade relativa**/
    font-family: 'Sacramento', cursive;
}

.site-subtitle {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8em;
}

.sobre,
.contato,
.portfolio {
    padding: 2em;
    min-height: 100vh;  /**Dispositivos pequenos não sobreporem as sections.**/
}

@media (min-width: 1200px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
}

.sobre h2,
.contato h2,
.portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.sobre p {
    color: white;
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    text-align: justify;
}

.sobre a {
    color: cyan;
}

.sobre a:hover {
    text-decoration: underline;
}

.sobre .avatar {
    float: right;
    margin-left: 1.5em;
}

.img-sobre {
    height: 240px;
    width: 240px;
    object-fit: cover;
    clip-path: polygon(50% 25%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

@media (min-width: 600px) {
    .img-sobre {
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        rotate: 45;
    }
}

.portfolio .grid {
    display: grid;  /**Ao contrario do 'flex' numero de colunas é determinado.**/
    gap: 2em;  /**similar ao 'margin', mas para o grid.**/
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 260px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 8em - 48px);  /**Calcular de medidas com unidades diferentes.**/
    }
}

.flipcard {  /**Ocupa a coluna do grid.**/
    height: 180px;
    perspective: 500px;
}

.flipcard:hover .card {
    transform: rotateY(180deg);
}

.card {
    position: relative;  /**front e back estão em uma posição relativa ao 'card' (em cima do 'card').**/
    transform-style: preserve-3d;  /**possibilita ver ambos os lados.**/
    transition: transform 2s;
}

.frontcard,
.backcard {
    backface-visibility: hidden;
    left: 0;
    position: absolute;  /**Ocupam a mesma posição.**/
    top: 0;
    width: 100%;
}

.backcard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 180px;
    width: 100%;
    border-radius: 50%;
    transform: rotateY(180deg);
}

.portfolio figure {
    text-align: center;  /**Passa como herança para filhas.**/
}

.img-portfolio {
    height: 180px;
    width: 100%;
    object-fit: cover;  /**Espalham pela dimensão determinada anteriormente.**/
    object-position: left bottom;  /**Foco no canto esquerdo**/
    border-radius: 50%;
}

.contato .icons {
    text-align: center;
}
  
.contato a {
    color: whitesmoke;
    font-size: 4em;
    transition: text-shadow 1s;
}
  
.contato a:active,
.contato a:hover  {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}