/**Seletor mais genérico.**/
* {  /**Reset do CSS**/
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /**Objeto delimitado pelo tamanho puro.**/
}

/**Usa a tag inteira.**/
body {  /**Seletor + chaves**/
    background-image: url('../img/fundo.jpg');/**Propriedade.**/
    background-size: auto 100vh;  /**100vh - viewport high, 100% da altura da tela.**/
    font-family: Arial;
    height: 100vh;  /**Altura do 'body' sempre a mesma.**/
    font-size: 12px;
    font-family: 'Source Code Pro', monospace;  /**Todo seletor que não for definido será com essa fonte.**/
}

/**"If" para telas com pelo menos 400px.**/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
}

header {
    height: 100vh;
    display: flex;  /**Reconhece elementos imediatamente para baixo da tag 'header', mãe e filho.**/
    justify-content: center;
    align-items: center;
}

/**@Id - seletor específico de uma tag específica, causa problemas de preferência.**/
/**Usar atributo da classe para referenciar todos os elementos da classe no CSS.**/
.menu {
    background-color: white;
    position: fixed;  /**Elemento fixo, por cima de todos os elementos. '.menu' não mais flex pela propriedade display do 'header', necessário novas propriedades no 'header', justify-content, align-items. E declarar a propriedade top no '.menu'.**/
    width: 100vw;
    top: 0;
}

.menu a {  /**Aumentar área do menu para usabilidade de click.**/
    /**padding: 10px; <a> é uma tag inline, não afetada pelo padding**/
    display: block;  /**Retira a propriedade inline de <a>.**/
    padding: 10px 20px;
}

a {
    color: teal;
    text-decoration: none;
}

/**Peseudo classe do CSS.**/
a:hover {
    text-decoration: underline;
}

.menu ul {
    display: flex;  /**'ul' na mesma linha.**/
    justify-content: space-around;  /**coloca espaços iguais entre as 'li' dentro do 'ul'.**/
}

/**Todas as 'li' dentro da tag 'menu'.**/
.menu li {
    list-style: none;
}

/**Propriedade para mais de um atributo.**/
.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;  /**Unidade relativa**/
    font-family: 'Sacramento', cursive;
}

.site-subtitle {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8em;
}

.portfolio {
    padding: 2em;
    height: 100vh;
}

.portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 1em;
    font-size: 2em;
}

.portfolio .grid {
    display: grid;  /**Ao contrario do 'flex' numero de colunas é determinado.**/
    gap: 2em;  /**similar ao 'margin', mas para o grid.**/
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);  /**Calcular de medidas com unidades diferentes.**/
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 860px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 240px);
    }
}

.portfolio figure {
    text-align: center;  /**Passa como herança para filhas.**/
}

.img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;  /**Espalham pela dimensão determinada anteriormente.**/
    object-position: left bottom;  /**Foco no canto esquerdo**/
    border-radius: 100%;
}